<footer class="footer">

    <div class="container py-5">

        <div class="row gy-4">

            <!-- ABOUT -->

            <div class="col-md-4">

                <h2 class="footer-logo">

                    NexCart

                    <i class="bi bi-cart-fill"></i>

                </h2>

                <p class="footer-description mt-3">

                    Your one-stop destination for electronics,
                    fashion, and daily essentials.

                </p>

            </div>

            <!-- LINKS -->

            <div class="col-md-4">

                <h5 class="footer-heading">

                    Quick Links

                </h5>

                <ul class="list-unstyled mt-3">

                    <li>
                        <a routerLink="/" class="footer-link">
                            Home
                        </a>
                    </li>

                    <li>
                        <a  routerLink="/#categories">
                            Categories
                        </a>
                    </li>

                    <li>
                        <a routerLink="/orders" class="footer-link">
                            Orders
                        </a>
                    </li>

                    <li>
                        <a routerLink="/cart" class="footer-link">
                            Cart
                        </a>
                    </li>

                </ul>

            </div>

            <!-- CONTACT -->

            <div class="col-md-4">

                <h5 class="footer-heading">

                    Contact

                </h5>

                <div class="mt-3 footer-contact">

                    <p>
                        <i class="bi bi-envelope-fill"></i>

                        support&#64;nexcart.com
                    </p>

                    <p>
                        <i class="bi bi-telephone-fill"></i>

                        +91 9876543210
                    </p>

                </div>

                <div class="social-icons mt-4">

                    <i class="bi bi-facebook"></i>

                    <i class="bi bi-instagram"></i>

                    <i class="bi bi-twitter-x"></i>

                </div>

            </div>

        </div>

        <hr class="footer-line">

        <div class="text-center copyright">

            © 2026 NexCart. All rights reserved.

        </div>

    </div>

</footer>