<div class="container gap-4 p-3 text-center">
    <div class="row">
        <div class="col col-4 col-md-4 h-100" *ngFor="let product of products" (click)="getProductDetails(product.id)">
            
<div class="p-3 card">
        <img [src]="product.imageUrl" alt="{{product.name}}" class="img-fluid p-2" style="height:150px;object-fit:contain;">

  <div class="product-description">
    <p>{{product.name}}</p>
    <p>Price:{{product.price}}</p>
  </div>
   
    <button class="btn btn-primary" (click)="addToCart(product,$event)">Add to Cart</button>
</div>
</div>
</div>
</div>